@model Departamento
@{
   ViewData["Title"] = "Eliminar";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <h5 class="card-header">Eliminar Departamento</h5>
  <div class="card-body">

    <form asp-action="Eliminar" asp-controller="Departamento" method="post">

        <div class="alert alert-danger" role="alert">
        Desea eliminar el siguiente Departamento de la base de datos?
            <p>
                @if (Model != null){
                    <b>ID #:</b> @Model.IdDepartamento <br>
                    <b>Nombre:</b> @Model.NombreDepartamento <br>  
                } else{
                    <p><b>Hubo un error trayendo los datos</b></p>
                }        
            </p>
        </div>
        
        <button type="submit" class="btn btn-danger me-2"><i class="bi bi-person-check me-1"></i>Eliminar</button>
        <a asp-action="Listar" asp-controller="Departamento" class="btn btn-secondary"><i class="bi bi-arrow-90deg-left me-1"></i>Volver a la lista</a>
    </form>
  </div>
</div>